MONGODB_URI=mongodb+srv://<username>:<password>@<cluster-url>/campus_lost_found?retryWrites=true&w=majority&appName=Cluster0
NEXTAUTH_SECRET=your-secret-key-here
NEXTAUTH_URL=http://localhost:3000

CLOUDINARY_CLOUD_NAME=cloud_name
CLOUDINARY_API_KEY=api_key
CLOUDINARY_API_SECRET=api_secret